<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @applications_event.name %>
</p>

<p>
  <b>Deadline internal:</b>
  <%= @applications_event.deadline_internal %>
</p>

<p>
  <b>Url:</b>
  <%= @applications_event.url %>
</p>

<p>
  <b>Announcement url:</b>
  <%= @applications_event.announcement_url %>
</p>

<p>
  <b>Comment:</b>
  <%= @applications_event.comment %>
</p>


<%= link_to 'Edit', edit_applications_event_path(@applications_event) %> |
<%= link_to 'Back', applications_events_path %>
