%p#notice= notice
%h1= @applications_event.name
- if current_user
  = link_to edit_applications_event_path(@applications_event),class: "btn pull-right" do
    %i.icon-pencil
    Lauf Bearbeiten
%p
  %b Meldeschluss:
  = @applications_event.deadline_internal.strftime("%d.%m.%Y")
%p
  %b Homepage:
  = @applications_event.url
%p
  %b Ausschreibung:
  = @applications_event.announcement_url
%p
  %b Kommentar:
  = @applications_event.comment

%table.table.table-striped
  %tr
    %th Name
    %th Jahrgang
    %th Strecke
    %th Kommentar
    %th
  - @applications_event.applications.each do |applications_application|
    %tr
      %td= applications_application.name
      %td= applications_application.birth_year
      %td= applications_application.course
      %td= applications_application.comment
      %td
        - if current_user
          = link_to edit_applications_event_applications_application_path(applications_application),class:"btn" do
            %i.icon-pencil
          = link_to [@applications_event,applications_application], method: :delete, data: { confirm: 'Bist du sicher?' },class:"btn" do
            %i.icon-trash
        - else
          = "---"
%br/
= link_to 'Anmelden', new_applications_event_applications_application_path(@applications_event),class: "btn btn-primary btn-large"


=link_to 'Zurück', applications_events_path,class: "btn"