%h1 Gästebuch

= link_to new_guestbook_entry_path do
  %button.btn.btn-large.btn-primary.icon-plus
    Eintrag schreiben...
%br
%br
%br
- @guestbook_entries.each do |entry|
  %div
    %blockquote
      %p
        =entry.content
        - if current_user && current_user.admin?
          = link_to edit_guestbook_entry_path(entry) do
            %button.btn.btn-mini.icon-pencil
          = link_to entry, :method => :delete, :data => { :confirm => 'Bist du sicher?' } do
            %button.btn.btn-mini.icon-trash
      %small
        - unless entry.email.blank?
          %a{href:"mailto:#{entry.email}"}=entry.name
        -else
          ="#{entry.name}"
        = time_ago_in_words(entry.created_at)
          
    %br
